<div class="container">
    <div class="row">
        <div class="col text-center">
            <h2 class="mb-4" i18n="Spy stuff|Meme text@@spyStuffMemeText">
                I think you're onto something. I mean, how do we know the moon isn't just a government spy satellite and
                it's not so big, just a lot closer?</h2>
            <img src="https://i.imgflip.com/1haqay.jpg" i18n-alt="Spy stuff|Meme text@@spyStuffMemeText"
                alt="I think you're onto something. I mean, how do we know the moon isn't just a government spy satellite and it's not so big, just a lot closer?" />
        </div>
    </div>
</div>