#map {
    height: 900px;
    width: 100%;
}

.legend-block {
  display: inline-block;
  width: 35px;
  height: 35px;
  margin-right: 5px;
  line-height: 35px;
  text-align: center;
  color: #ffffff;
  font-weight: bold;
}
.legend-block:first-child {
  margin-left: 5px;
}